.page-container {
    display: flex;
    height: 100%;

}

.page-content-container {

    page-break-inside: 5000px;
}
.sidebar {
    height: 100%;
    width: 150px;
    background: white
}

.Home {
    height: 100%;
    width: 150px;
    font-size: 27px;
    color: white;
    
}

.list {
    height: 100%;
    width: 150px;
    font-size: 27px;
    color: white;
    
}