<div class="page-container">
    <div class="sidebar">


        <div class="List">
          |<ul>
           <li> <div routerLink="/List" class="List">Christein
            </div></li>
        <li> <div routerLink="/List" class="List">Bret
            </div></li>
           
        <li> <div routerLink="/List" class="List">Adam
            </div></li>
            
        </ul>
           
        </div>
    </div>
<div class="page-content-container">
    <router-outlet></router-outlet>
</div>
</div>