<div class="page-container">
    <div class="sidebar">


        <div class="List">
          |<mat-list>
           <mat-list-item> <div routerLink="/List" class="List">Christein
            </div></mat-list-item>
        <mat-list-item> <div routerLink="/List" class="List">Bret
            </div></mat-list-item>
           
        <mat-list-item> <div routerLink="/List" class="List">Adam
            </div></mat-list-item>
            
        </mat-list>
           
        </div>
        <div class="API service">
            <mat-list>
                <mat-list-item> <div routerLink="/http://jsonplaceholder.typicode.com/todos" class="API service"></div>
                    
                </mat-list-item>
            </mat-list>
            
        </div>
            
    </div>

<div class="page-content-container">
    <router-outlet></router-outlet>
</div>
</div>