 <mat-toolbar color="primary" class="example-toolbar"> 
   <button (click)="sidenav_opened = !sidenav_opened"
   style="border-radius: px; 
   box-shadow: 0 8px 16px ">
   <mat-icon>menu</mat-icon></button>
    </mat-toolbar>
    <mat-sidenav-container> 
    <mat-sidenav [(opened)]="sidenav_opened" #sidenav mode="side">
      <mat-nav-list>
        
        <div class="Home">
          <a routerLink="/Home" class="Home">Home

          </a>
          <div class="List">
          <a routerLink="/List" class="List">List
          
          </a>
          <div>
            <a routerLink="/TodosService" class="TodosService"> TodosService</a>
          </div>
          
      </div>
         </div>
       
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
      <h4> Hello world</h4>
      <div class="List">
        |<mat-list>
         <mat-list-item>Adam </mat-list-item>
         <mat-list-item>Brett </mat-list-item>
         
         <mat-list-item> Christein </mat-list-item>
          
      </mat-list>
      <div class="TodosService">
        <mat-nav-list>
          
   <a mat-list-item href="http://jsonplaceholder.typicode.com/todos" *ngFor="let item of items"> {{ item.id }} </a>
        </mat-nav-list>
      </div>
      
     </div>
    </mat-sidenav-content>
  </mat-sidenav-container>